@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Partials
@import "./variables/variables";

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";

// Global Bootstrap variables overrides
body{
    color: $textcolor;
    font-size: medium;
    font-weight: medium;
    background-color: $body-color;
}
h1, h2, h3, h4, h5{
    color: black;
}


// navbar
.offcanvas{
    background-color: $body-color;
}


.navbar{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

 
.navbar-item-billede {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .navbar-item-ikoner {
    @include media-breakpoint-down(md) {
      display: none;
    }

    @include media-breakpoint-down(lg){
        display: none;
    }

    padding: 10px;
  }

  .offcanvas-body {
   
    @include media-breakpoint-down(lg){
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        height: 100vh;

    }  
  }

  .navbar-nav {
    text-align: center; 
    justify-content:end;
    
    @include media-breakpoint-down(lg){
        justify-content:center;
    }
  }




  // index
  .img-fluid {
    padding: 0;
    margin: 0;
  }
  
  .p-img-index {
    padding: 0px 0px 0px 0.1px; 

  }

  .figure{
    margin: 0 0 0rem;


  }
  
  .forside-header-text {
  
    h1 {
      font-size: $header-title;
      font-weight: bold;
      text-transform: uppercase;
  
      @include media-breakpoint-up(lg) {
        font-size: 100px;
      }

      @include media-breakpoint-between(xs, lg) {
        display: none;
      }
    }
  
    h2 {
      font-size: 50px;
      font-weight: bold;
      text-transform: uppercase;
  
      @include media-breakpoint-up(lg) {
        font-size: 35px;
      }

      @include media-breakpoint-between(xs, lg) {
        display: none;
      }
    }
  
        
  }

  .ikoner-md {
    .ikoner-md-ig,
    .ikoner-md-mail,
    .ikoner-md-fb,
    .ikoner-md-ld {
      
      padding-right: 15px;
      margin-bottom: 10px;
      max-height: 40px;
    }

    @include media-breakpoint-between(xs, lg) {
      position: absolute;
      top: 65px;
      right: 1px;
      display: flex;
      flex-direction: column; 
      align-items: flex-end; 
      z-index: 1; 
      float: right;
      
    }
    

    @include media-breakpoint-between(lg, xxl) {
      display: flex;
      flex-direction: row; 
      align-items: center; 
      
    }


  }
  


// work

.display-1{
    font-weight: bold;
    text-transform: uppercase;
    
}
.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
  }
  
  .header-text .col {
    text-align: center;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  .animated {
    animation: bounce 3s infinite;
  }
  
  .animated {
    height: 65px;
    width: 60px;
  }
  
  @media (max-width: 768px) {
    .animated {
      height: 40px; 
      width: 40px; 
    }
  }

  .title-head{
    font-weight: bold;
    text-transform: uppercase;
  }
  

  .image-link {
    text-decoration: none; 
    color: $textcolor; 
}

.image-text dt {
    font-weight: bold; 
    margin-bottom: 5px; 
}

.image-text p {
    margin-bottom: 3px; 
}


.border{
    border: 1px solid $textcolor !important;
    padding: 5px;
}

.border-speciel{
    border: 1px solid $textcolor !important;
    padding: 26px 15px 26px 16px;
}

.border-az{
    border: 1px solid $textcolor !important;
    padding: 46px 15px 46px 16px;
    
    @media (max-width: 768px) {
        padding: 25px 15px 25px 16px;
    }

}

.bg-change{
    background-color: $browny;
    border-radius: 10px;
    padding: 10px;

    @include media-breakpoint-between(xs, md) { 
        border-radius: 0px;
    }
}

.first-image{
    max-width: 100%; 
    height: auto; 
    text-align: center;
    margin-bottom: 50px;

}
.second-image{
    max-width: 100%; 
    height: auto; 
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}



// volunteering

.image-lodret {
    max-width: 300px;
}



.image-vandret {
    max-width: 400px;
}

.picture-row{
    padding-left: 36px;
    padding-right: 20px;
    
    @include media-breakpoint-between(xs, md) {
    padding-left: 10px;
    padding-right: 10px;
    }
}

// about me
.btn {
  &.btn-lg {
    &.btn-outline-light {
      // Specifikke stilarter for btn-lg og btn-outline-light kombination
      background-color: none;
      border-color: $my-primary-color;
      color: $my-text-color;
    }
  }
}

.footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  
  // Stil for links i footer
  a {
      color: $footer-link-color;
      text-decoration: none;
      font-size: 18px;
  }
}

.social-icons-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 

  // For større skærme
  @media (min-width: 768px) {
    flex-direction: row;


    .social-icon img{
      padding-top: 5px; 
      padding-left: 10px;
      margin-bottom: 50px; 
      max-height: 50px; 
    }
  }

  // Justering for ikoner
  .social-icon {
    padding-top: 5px; 
    margin-bottom: 50px; 
    max-height: 30px; 
  }
}

.footer-link{

  @media (min-width: 992px){
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;

    li a{
      padding-left: 10px;
    }
  }

  
  @media (max-width: 768px){
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;

    
  }

  @media (min-width: 769px) and (max-width: 991.98px){
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;

    li a{
      padding-left: 0;
    }
  
  }



}


