$primary: #E6D4BD;
$font-family-sans-serif: 'Montserrat', sans-serif;
$textcolor: black;
$browny: #989181;
$body-color: $browny;
$header-title: 100px;
$my-primary-color: #E6D4BD; 
$my-text-color: #E6D4BD; 
$btn-primary-bg: none;
$btn-primary-color: $my-text-color;
$footer-bg-color: #E6D4BD; 
$footer-text-color: $textcolor;   
$footer-link-color: $textcolor; 